<mat-drawer-container fxLayout="row">
    <mat-drawer #cols mode="side" position="end" fxFlex="30%">
        <ul>
            <li *ngFor="let table of displayTables;let i = index;" draggable="true" (dragstart)="dragstart(table,i)">
                {{table.TableName}}
            </li>
        </ul>
    </mat-drawer>


    <!-- 主設計畫面 -->
    <mat-drawer-content fxFlex="70%" style="position: relative;">
        <!-- 新增 layer -->
        <button mat-button (click)="addLayer()">Add Layer</button>

        <!-- layer 屬性 -->
        <mat-tab-group animationDuration="0ms" (selectedTabChange)="tabChange($event)">
            <mat-tab *ngFor="let layer of layers" label="{{layer.Layer.LayerName}}" >
                <div style="display: flex;">
                    <p>
                        <!-- Layer 名稱 -->
                        <mat-form-field appearance="legacy">
                            <mat-label>Layer Name</mat-label>
                            <input [(ngModel)]="layer.Layer.LayerName" matInput type="text" placeholder="Name">
                        </mat-form-field>
                    </p>
                    <p>
                        <!-- MainTable topo/table -->
                        <mat-form-field appearance="legacy">
                            <mat-label>Main Table</mat-label>
                            <mat-select [(ngModel)]="layer.Layer.MainTableId" (selectionChange)="onMainTableChange($event)" required>
                                <mat-option *ngFor="let item of mainTableOptions" [value]="item.TableId">{{item.TableName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                    <p *ngIf="dataType == 1">
                        <!-- topo => objects -->
                        <mat-form-field appearance="legacy">
                            <mat-label>Objects</mat-label>
                            <mat-select [(ngModel)]="layer.Layer.ObjectType" (selectionChange)="objectChange($event)" required>
                                <mat-option *ngFor="let item of objectOptions" [value]="item">{{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                    <p *ngIf="dataType == 0">
                        <!-- long table=>schema-->
                        <mat-form-field appearance="legacy">
                            <mat-label>Longitude</mat-label>
                            <mat-select [(ngModel)]="layer.Layer.LongitudeColName" required>
                                <mat-option *ngFor="let item of schemaOptions" [value]="item">{{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                    <p *ngIf="dataType == 0">
                        <!-- lat table=>schema -->
                        <mat-form-field appearance="legacy">
                            <mat-label>Latitude</mat-label>
                            <mat-select [(ngModel)]="layer.Layer.LatitudeColName" required>
                                <mat-option *ngFor="let item of schemaOptions" [value]="item">{{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                </div>
            </mat-tab>
        </mat-tab-group>


        <div id="chart_container" #chart_container>
            <!-- <pan-zoom [config]="panzoomConfig"> -->
            <div class="flowchart-example-container" id="exampleDiv" #exampleDiv></div>
            <!-- </pan-zoom> -->
        </div>


        <button mat-button (click)="getDatas()">Get Datas</button>
        <button mat-button (click)="saveLinesAndTables()">save</button>
        <button mat-button (click)="remove()">Remove</button>
        <button mat-button (click)="joinResult()">JoinResult</button>
        <!-- 右側可拖曳資料集選項 隱藏/顯示按鈕 -->
        <button mat-raised-button color="primary" (click)="cols.toggle()" style="position: fixed;right:5px;bottom: 10px;">
            <mat-icon matTooltip="open" *ngIf="!cols.opened">keyboard_arrow_left</mat-icon>
            <mat-icon matTooltip="close" *ngIf="cols.opened">keyboard_arrow_right</mat-icon>
        </button>
        <br />
    </mat-drawer-content>
</mat-drawer-container>